<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../resources/stylesheets/style.css"/>
		<title>
			Cheat-Sheet
		</title>
	</head>
	<body>
		<div class="header-margin"></div>
		<header>
			<a href="../index.html">
				<h1 class="title">Cheat Sheet</h1>
			</a>
		</header>
		<main>
			<h2>Templates</h2>
			<hr>
			<section>
				<h3>HTML5</h3>
				<a href="./templates/html5/barebones.txt" class="button">Bare-bones</a>
				<a href="./templates/html5/basic.txt" class="button">Basic</a>
			</section>
			<section>
				<h3>CSS3</h3>
				<a href="./templates/css3/reset.txt" class="button">Reset</a>
			</section>
			<hr>
			<hr>
		</main>
		<footer>
			<p>Created by Luca E. Dye</p>
		</footer>
	</body>
</html>