@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tilt+Warp&display=swap');

:root {
	--color-light: #ede4d3;
	--color-middle: #9e8a7a;
	--color-dark: #4f2e1d;
}

html {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: var(--color-dark);
}

html * {
	opacity: 0.99;
}

body {
	margin: 0;
}

h1,h2,h3,
h4,h5,h6 {
	font-family: 'Tilt Warp', cursive;
}

/* Header */

header {
	background-color: var(--color-light);
	border-bottom: 0.125rem var(--color-middle) solid;
	height: 5.5rem;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

header a h1 {
	display: inline-block;
	color: var(--color-dark);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2rem;
	margin-left: 1rem;
}

header nav {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	height: inherit;
	margin-right: 1rem;
}

header.small {
	display: none;
}

.btn {
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	transition: 0.25s;
	padding: 0.75rem;
	border-radius: 1rem;
	text-decoration: none;
	font-weight: bolder;
	text-transform: uppercase;
	border: solid 0.25rem transparent;
	border-color: var(--color-dark);
	color: var(--color-dark);
	background-color: var(--color-light);
}

.btn:hover {
	color: var(--color-light);
	background-color: var(--color-dark);
}

.btn:active {
	color: var(--color-middle);
	background-color: var(--color-light);
	border-color: var(--color-middle);
}

@media only screen and (max-width: 750px) {
	header.big {
		display: none;
	}
	header.small {
		display: inline-flex;
	}
}


/* Main */

main {
	position: relative;
	/* left: -8px; */
	/* margin: 0; */
	margin-top: 5.625rem;
	margin-bottom: 8.125rem;
	display: flex;
	flex-direction: column;
	/* width: calc(100vw - 17px);*/
	background-color: var(--color-dark);
	z-index: -10;
}

main > section {
	margin: 0;
	z-index: -1;
	width: 100%;
	height: auto;
	display: grid;
	grid-template: 1fr auto / 1fr 3fr 1fr;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	--tint: #4f2e1d33;
	background-image:
		linear-gradient(0deg, var(--tint), var(--tint)),
		var(--image);
	--image: url('./images/flat-board.jpg');
}

main > section > h1 {
	grid-area: 1 / 1 / span 1 / span 3;
	margin: 0;
	padding: 8rem 0;
	text-align: center;
	font-size: 4rem;
	color: var(--color-light);
	text-shadow: 0.5rem 0.5rem 0 var(--color-dark);
}

main > section > h2 {
	grid-area: 1 / 1 / span 1 / span 3;
	margin: 0;
	padding: 8rem 0;
	text-align: center;
	font-size: 3rem;
	color: var(--color-light);
	text-shadow: 0.375rem 0.375rem 0 var(--color-dark);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

main > section > p {
	grid-area: 2 / 2 / span 1 / span 1;
	margin: 2rem auto;
	padding: 1rem;
	text-align: center;
	font-size: 1rem;
	color: #000;
	background-color: var(--color-light);
	max-width: 50%;
	border-radius: 1rem;
}

@media only screen and (max-width: 1150px) {
	main > section > p {
		max-width: 75%;
	}
}

@media only screen and (max-width: 750px) {
	main > section > p {
		max-width: 100%;
	}
}

@media only screen and (max-width: 650px) {
	main > section > p {
		grid-area: 2 / 1 / span 1 / span 3;
		margin: 0;
		max-width: 100%;
		border-radius: 0;
	}
}


/* Footer */

footer {
	background-color: var(--color-light);
	display: grid;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 8rem;
	border-top: 0.125rem var(--color-middle) solid;
	margin: 0;
	padding: 0;
	grid-template-areas:
		'. . . . . . . . . . . .'
		'. c c c . s s s s s s .'
		'. c c c . s s s s s s .'
		'. . . . . . . . . . . .';
}

footer > * {
	display: none;
}

footer > .copyrights {
	grid-area: c;
	display: inline-block;
	text-align: left;
	margin: auto 0;
}

footer > .contact-info {
	grid-area: s;
	display: grid;
	grid-template-areas:
		'e e e . s s'
		'a a a . s s';
}

footer > .contact-info * {
	display: none;
}

footer > .contact-info > .email {
	display: inline-block;
	grid-area: e;
	margin: auto 0;
}

footer > .contact-info > .email::before {
	display: inline-block;
	content: 'Email:';
	font-weight: bolder;
}

footer > .contact-info > .address {
	display: inline-block;
	grid-area: a;
	margin: auto 0;
}

footer > .contact-info > .address::before {
	display: inline-block;
	content: 'Address:';
	font-weight: bolder;
}

footer > .contact-info > .socials {
	display: grid;
	grid-area: s;
	grid-template-areas:
		't i'
		'y f';
}

footer > .contact-info > .socials > .social-icon {
	display: inline-block;
	max-width: 2rem;
	max-height: 2rem;
}

footer > .contact-info > .socials > .social-icon.ig {
	grid-area: i;
}

footer > .contact-info > .socials > .social-icon.tw {
	grid-area: t;
}

footer > .contact-info > .socials > .social-icon.fb {
	grid-area: f;
}

footer > .contact-info > .socials > .social-icon.yt {
	grid-area: y;
}

@media only screen and (max-width: 690px) {
	footer > .contact-info > .email,
	footer > .contact-info > .address {
		display: none;
	}
	footer > .contact-info {
		grid-template-areas:
			's s'
			's s';
	}

	footer {
		grid-template-areas:
			'. . . . . .'
			'. c c . s s'
			'. c c . s s'
			'. . . . . .';
	}
}

@media only screen and (max-width: 300px) {
	footer > .copyrights {
		display: none;
	}
	footer > .contact-info {
		grid-template-areas:
			's s'
			's s';
	}

	footer {
		grid-template-areas:
			'. . . .'
			'. s s .'
			'. s s .'
			'. . . .';
	}
}