<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="./stylesheets/style.css"/>
		<title>
			Cheat-sheet
		</title>
	</head>
	<body>
		<header>
			<p><a href="../index.html">&gt Back to template list</a></p>
		</header>
		<main><pre>
&lt!DOCTYPE html&gt
&lthtml&gt
	&lthead&gt
		&ltlink rel=&quotstylesheet&quot href=&quot./stylesheets/style.css&quot/&gt
		&lttitle&gt&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&ltheader&gt


		&lt/header&gt

		&ltmain&gt


		&lt/main&gt

		&ltfooter&gt


		&lt/footer&gt
	&lt/body&gt
&lt/html&gt
		</pre></main>
	</body>
</html>