<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="./stylesheets/style.css"/>
		<title>
			Cheat-sheet
		</title>
	</head>
	<body>
		<header>
			<p><a href="../index.html">&gt Back to template list</a></p>
		</header>
		<main><pre>
&lt!DOCTYPE html&gt
&lthtml&gt
	&lthead&gt
		&lt-- meta !-&gt
		&ltmeta charset=&quotUTF-8&quot&gt
		&ltmeta name=&quotdescription&quot content=&quotfoo&quot&gt
		&ltmeta name=&quotkeywords&quot content=&quotbar, baz, foo&quot&gt
		&ltmeta name=&quotauthor&quot content=&quotJohn Doe&quot&gt
		&ltmeta name=&quotviewport&quot content=&quotwidth=device-width, initial-scale=1.0&quot&gt

		&lt-- imports !-&gt
		&ltlink rel=&quotstylesheet&quot href=&quot./stylesheets/style.css&quot/&gt


		&lttitle&gtCheat-sheet&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&ltheader&gt


		&lt/header&gt

		&ltmain&gt
			

		&lt/main&gt

		&ltfooter&gt
			

		&lt/footer&gt
	&lt/body&gt
&lt/html&gt
		</pre></main>
	</body>
</html>